@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #312f2f;
  --font-color: #ffffff;
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-menuHover: #0000003d;
  --color-border: #d1d5dc;
  --breakpoint-xs: 31.25rem;
  --breakpoint-sm: 37.5rem;
  --breakpoint-md: 43.125rem;
  --breakpoint-lg: 61.75rem;
  --breakpoint-xl: 67.375rem;
  --breakpoint-xxl: 79.063rem;
}